In [1]:
import pymysql
import requests

db = pymysql.connect(
    user='root',
    passwd='dlatjsgh99',
    db='caps_data',
    host='localhost',
    port=3306,
    charset='UTF8'
)

cursor = db.cursor(pymysql.cursors.DictCursor)
#select_query = "SELECT * FROM place_tb"
#cursor.execute(select_query)
#results = cursor.fetchall()

In [2]:
delete_idx_0 = [20, 55, 56, 57, 59, 60, 62, 67, 69, 70, 72, 74, 76, 78, 88, 90, 91, 97, 98]
delete_idx_1 = [101, 106, 111, 113, 114, 117, 119, 124, 127, 128, 129, 134, 135, 142, 145, 146, 148, 153, 155, 156, 157, 159, 160, 163, 164, 167, 168, 172, 174, 176, 179, 182, 183, 184, 187, 189, 191, 196, 198]
delete_idx_2 = [202, 203, 206, 207, 208, 211, 213, 214, 216, 219, 220, 221, 223, 224, 226, 227, 228, 229, 231, 233, 235, 238, 239, 242, 243, 247, 250, 254, 257, 258, 261, 262, 263, 265, 266, 267, 268, 270, 272, 273, 274, 278, 279, 280, 281, 282, 283, 287, 289, 290, 291, 293, 297, 299]
delete_idx_3 = [305, 309, 311, 314, 316, 317, 319, 321, 322, 323, 325, 330, 331, 332, 333, 338, 339, 341, 343, 344, 345, 346, 350, 351, 352, 354, 356, 358, 359, 362, 364, 365, 367, 369, 371, 373, 375, 376, 379, 380, 383, 385, 386, 393]
delete_idx_4 = [400, 401, 402, 403, 405, 406, 408, 411, 412, 414, 415, 417, 419, 420, 423, 425, 427, 428, 432, 434, 435, 436, 437, 438, 441, 443, 445, 447, 448, 449, 454, 455, 457, 458, 459, 460, 462, 463, 465, 468, 469, 471, 472, 474, 476, 478, 479, 482, 485, 488, 490, 492, 495]
delete_idx_5 = [500, 501, 507, 509, 510, 511, 512, 514, 515, 516, 517, 521, 522, 523, 524, 525, 528, 529, 535, 536, 538, 539, 543, 551, 553, 556, 558, 560, 562, 570, 571, 578, 579, 580, 581, 582, 583, 585, 587, 588, 589, 591, 592, 593, 594, 595, 596, 598]
delete_idx_6 = [600]


edit_idx_0 = [21, 66, 85] # 70, 88 delete
edit_idx_1 = [109, 123, 137, 188, 194, 199] # 119, 135
edit_idx_2 = [204, 205, 232, 236, 237, 294, 295] 
edit_idx_3 = [304, 306, 308, 310, 312, 313, 315, 318, 320, 342, 368, 381, 382] # 304, 318 pass , 319, 333, 356, 358 delete
edit_idx_4 = [404, 410, 421, 422, 429, 431, 435, 437, 440, 442, 449, 450, 456, 483, 496, 497] # 421, 422, 429, 440, 442, 458, 468, 483, 496, 497 pass 
edit_idx_5 = [503, 504, 508, 534, 545, 548, 550, 555, 559, 563, 567, 568, 569, 575, 586, 590, 597] # 508, 597 pass, 516 delete
edit_idx_6 = []

In [6]:
for idx in delete_idx_0 :
    delete_query = "DELETE FROM place_tb WHERE id=" + str(idx)
    cursor.execute(delete_query)
    db.commit()
    print(str(idx) + "place delete")
    
    delete_query = "DELETE FROM overview_tb WHERE id=" + str(idx)
    cursor.execute(delete_query)
    db.commit()
    print(str(idx) + "overview delete")

20place delete
20overview delete
55place delete
55overview delete
56place delete
56overview delete
57place delete
57overview delete
59place delete
59overview delete
60place delete
60overview delete
62place delete
62overview delete
67place delete
67overview delete
69place delete
69overview delete
72place delete
72overview delete
74place delete
74overview delete
76place delete
76overview delete
78place delete
78overview delete
90place delete
90overview delete
91place delete
91overview delete
97place delete
97overview delete
98place delete
98overview delete

In [7]:
for idx in delete_idx_1 :
    delete_query = "DELETE FROM place_tb WHERE id=" + str(idx)
    cursor.execute(delete_query)
    db.commit()
    print(str(idx) + "place delete")
    
    delete_query = "DELETE FROM overview_tb WHERE id=" + str(idx)
    cursor.execute(delete_query)
    db.commit()
    print(str(idx) + "overview delete")

101place delete
101overview delete
106place delete
106overview delete
111place delete
111overview delete
113place delete
113overview delete
114place delete
114overview delete
117place delete
117overview delete
124place delete
124overview delete
127place delete
127overview delete
128place delete
128overview delete
129place delete
129overview delete
134place delete
134overview delete
142place delete
142overview delete
145place delete
145overview delete
146place delete
146overview delete
148place delete
148overview delete
153place delete
153overview delete
155place delete
155overview delete
156place delete
156overview delete
157place delete
157overview delete
159place delete
159overview delete
160place delete
160overview delete
163place delete
163overview delete
164place delete
164overview delete
167place delete
167overview delete
168place delete
168overview delete
172place delete
172overview delete
174place delete
174overview delete
176place delete
176overview delete
179place delete
179overview delete
182place delete
182overview delete
183place delete
183overview delete
184place delete
184overview delete
187place delete
187overview delete
189place delete
189overview delete
191place delete
191overview delete
196place delete
196overview delete
198place delete
198overview delete

In [8]:
for idx in delete_idx_2 :
    delete_query = "DELETE FROM place_tb WHERE id=" + str(idx)
    cursor.execute(delete_query)
    db.commit()
    print(str(idx) + "place delete")
    
    delete_query = "DELETE FROM overview_tb WHERE id=" + str(idx)
    cursor.execute(delete_query)
    db.commit()
    print(str(idx) + "overview delete")

202place delete
202overview delete
203place delete
203overview delete
206place delete
206overview delete
207place delete
207overview delete
208place delete
208overview delete
211place delete
211overview delete
213place delete
213overview delete
214place delete
214overview delete
216place delete
216overview delete
219place delete
219overview delete
220place delete
220overview delete
221place delete
221overview delete
223place delete
223overview delete
224place delete
224overview delete
226place delete
226overview delete
227place delete
227overview delete
228place delete
228overview delete
229place delete
229overview delete
231place delete
231overview delete
233place delete
233overview delete
235place delete
235overview delete
238place delete
238overview delete
239place delete
239overview delete
242place delete
242overview delete
243place delete
243overview delete
247place delete
247overview delete
250place delete
250overview delete
254place delete
254overview delete
257place delete
257overview delete
258place delete
258overview delete
261place delete
261overview delete
262place delete
262overview delete
263place delete
263overview delete
265place delete
265overview delete
266place delete
266overview delete
267place delete
267overview delete
268place delete
268overview delete
270place delete
270overview delete
272place delete
272overview delete
273place delete
273overview delete
274place delete
274overview delete
278place delete
278overview delete
279place delete
279overview delete
280place delete
280overview delete
281place delete
281overview delete
282place delete
282overview delete
283place delete
283overview delete
287place delete
287overview delete
289place delete
289overview delete
290place delete
290overview delete
291place delete
291overview delete
293place delete
293overview delete
297place delete
297overview delete
299place delete
299overview delete

In [3]:
for idx in delete_idx_5 :
    delete_query = "DELETE FROM place_tb WHERE id=" + str(idx)
    cursor.execute(delete_query)
    db.commit()
    print(str(idx) + "place delete")
    
    delete_query = "DELETE FROM overview_tb WHERE id=" + str(idx)
    cursor.execute(delete_query)
    db.commit()
    print(str(idx) + "overview delete")

500place delete
500overview delete
501place delete
501overview delete
507place delete
507overview delete
509place delete
509overview delete
510place delete
510overview delete
511place delete
511overview delete
512place delete
512overview delete
514place delete
514overview delete
515place delete
515overview delete
517place delete
517overview delete
521place delete
521overview delete
522place delete
522overview delete
523place delete
523overview delete
524place delete
524overview delete
525place delete
525overview delete
528place delete
528overview delete
529place delete
529overview delete
535place delete
535overview delete
536place delete
536overview delete
538place delete
538overview delete
539place delete
539overview delete
543place delete
543overview delete
551place delete
551overview delete
553place delete
553overview delete
556place delete
556overview delete
558place delete
558overview delete
560place delete
560overview delete
562place delete
562overview delete
570place delete
570overview delete
571place delete
571overview delete
578place delete
578overview delete
579place delete
579overview delete
580place delete
580overview delete
581place delete
581overview delete
582place delete
582overview delete
583place delete
583overview delete
585place delete
585overview delete
587place delete
587overview delete
588place delete
588overview delete
589place delete
589overview delete
591place delete
591overview delete
592place delete
592overview delete
593place delete
593overview delete
594place delete
594overview delete
595place delete
595overview delete
596place delete
596overview delete
598place delete
598overview delete

In [4]:
for idx in delete_idx_6 :
    delete_query = "DELETE FROM place_tb WHERE id=" + str(idx)
    cursor.execute(delete_query)
    db.commit()
    print(str(idx) + "place delete")
    
    delete_query = "DELETE FROM overview_tb WHERE id=" + str(idx)
    cursor.execute(delete_query)
    db.commit()
    print(str(idx) + "overview delete")

600place delete
600overview delete

In [3]:
for idx in delete_idx_4 :
    delete_query = "DELETE FROM place_tb WHERE id=" + str(idx)
    cursor.execute(delete_query)
    db.commit()
    print(str(idx) + "place delete")
    
    delete_query = "DELETE FROM overview_tb WHERE id=" + str(idx)
    cursor.execute(delete_query)
    db.commit()
    print(str(idx) + "overview delete")

400place delete
400overview delete
401place delete
401overview delete
402place delete
402overview delete
403place delete
403overview delete
405place delete
405overview delete
406place delete
406overview delete
408place delete
408overview delete
411place delete
411overview delete
412place delete
412overview delete
414place delete
414overview delete
415place delete
415overview delete
417place delete
417overview delete
419place delete
419overview delete
420place delete
420overview delete
423place delete
423overview delete
425place delete
425overview delete
427place delete
427overview delete
428place delete
428overview delete
432place delete
432overview delete
434place delete
434overview delete
436place delete
436overview delete
438place delete
438overview delete
441place delete
441overview delete
445place delete
445overview delete
447place delete
447overview delete
448place delete
448overview delete
454place delete
454overview delete
455place delete
455overview delete
457place delete
457overview delete
459place delete
459overview delete
460place delete
460overview delete
462place delete
462overview delete
463place delete
463overview delete
465place delete
465overview delete
469place delete
469overview delete
471place delete
471overview delete
472place delete
472overview delete
474place delete
474overview delete
476place delete
476overview delete
478place delete
478overview delete
479place delete
479overview delete
482place delete
482overview delete
485place delete
485overview delete
488place delete
488overview delete
490place delete
490overview delete
492place delete
492overview delete
495place delete
495overview delete

In [3]:
for idx in delete_idx_3 :
    delete_query = "DELETE FROM place_tb WHERE id=" + str(idx)
    cursor.execute(delete_query)
    db.commit()
    print(str(idx) + "place delete")
    
    delete_query = "DELETE FROM overview_tb WHERE id=" + str(idx)
    cursor.execute(delete_query)
    db.commit()
    print(str(idx) + "overview delete")

305place delete
305overview delete
309place delete
309overview delete
311place delete
311overview delete
314place delete
314overview delete
316place delete
316overview delete
317place delete
317overview delete
321place delete
321overview delete
322place delete
322overview delete
323place delete
323overview delete
325place delete
325overview delete
330place delete
330overview delete
331place delete
331overview delete
332place delete
332overview delete
338place delete
338overview delete
339place delete
339overview delete
341place delete
341overview delete
343place delete
343overview delete
344place delete
344overview delete
345place delete
345overview delete
346place delete
346overview delete
350place delete
350overview delete
351place delete
351overview delete
352place delete
352overview delete
354place delete
354overview delete
359place delete
359overview delete
362place delete
362overview delete
364place delete
364overview delete
365place delete
365overview delete
367place delete
367overview delete
369place delete
369overview delete
371place delete
371overview delete
373place delete
373overview delete
375place delete
375overview delete
376place delete
376overview delete
379place delete
379overview delete
380place delete
380overview delete
383place delete
383overview delete
385place delete
385overview delete
386place delete
386overview delete
393place delete
393overview delete